*/* CSS Boilerplate */
*{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
}

.nav {
    display: flex;
    align-items: center;
    background-color: aqua;
    color: black;
    height: 60px;
    width: full;
}

.right-nav {
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    gap: 20px;
}