*/* CSS Boilerplate */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
}

.nav {
    display: flex;
    align-items: center;
   justify-content: space-between;
    background-color: aqua;
    color: black;
    height: 80px;
    width: full;
    padding: 15px;
}

.right-nav{
    display: flex;
    align-items: center;
    direction: row;
    gap: 25px;
}

.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #556B2F;
    height: 650px;
    width: full;
    padding: 80px;
}

.main-content h1{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 30px;
    letter-spacing: 2px;
    line-height: 1.2;
    color: white;
}

.main-content p{
    font-size: 18px;
    max-width: 600px;
    margin-top: 16px;
    color: white;
    line-height: 1.6;
}

.profile img{
    height: 500px;
    width: 350px;
    display: flex;
    justify-content: flex-end;
    border-radius: 10px;
}
