/* CSS Boilerplate */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
}

.navbar {
    background-color: #d8ddd4;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    top: 0;
    position: sticky;
    z-index: 1000;
    padding: 0 50px;
    color: #2d5128;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    padding-left: 10px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 30px;
    padding-left: 20px;

}

.nav-left {
    display: flex;
    align-items: center;
    margin-left: 30px;
    gap: 20px;
    padding-right: 20px;
}

.search {
    background-color: #f5f5f5;
    border: none;
    padding: 4px 4px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    font-size: 20px;
    color: #333;
    width: fit-content;
}

.cart-logo {
    background-color: #f5f5f5;
    border: none;
    padding: 4px 4px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    font-size: 20px;
    color: #333;
    width: fit-content;
}

.btn-primary {
    background-color: #2d5128;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: fit-content;
}

.btn-primary:hover {
    background-color: #556B2F;
}

.hero-image {
    width: 100%;
    height: 700px;
    position: relative;
}

.hero-image img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 5%;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    color: white;
}

.hero-text p {
    font-size: 18px;
    font-weight: 200;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.hero-text h1 {
    font-size: 60px;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    line-height: 1.2;
}

.part{
    display: flex;
    align-items: center;
    gap: 20px;
}

.part p{
    font-size: 14px;
}

.btn-secondary {
    background-color: transparent;
    color: white;
    font-size: 25px;
    cursor: pointer;
    width: fit-content;
}

.rate-card {
    top: 70%;
    left: 10%;
    display: flex;
    position: absolute;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.rate-item {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin: 10px;
    text-align: center;
    color: #2d5128;
    gap: 10px;
    display: flex;
    flex-direction: column;
    width: 250px;
    text-align: center;
}

.rate-item h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
}

.rate-item p{
    font-size: 14px;
}