/* CSS Boilerplate */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    background-color: #d8ddd4;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    top: 0;
    position: sticky;
    z-index: 1000;
    padding: 0 50px;
    color: #2d5128;
}

.logo {
    display: flex;
    gap: 10px;
    text-align: center;
}

.logo img{
   height: 60px;
}

.logo h1{
    text-align: center;
    margin-top: 10px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 30px;
    padding-left: 20px;
    font-size: 20px;

}

.nav-left {
    display: flex;
    align-items: center;
    margin-left: 30px;
    gap: 20px;
    padding-right: 20px;
}

.search {
    background-color: #f5f5f5;
    border: none;
    padding: 4px 4px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    font-size: 20px;
    color: #333;
    width: fit-content;
}

.cart-logo {
    background-color: #f5f5f5;
    border: none;
    padding: 4px 4px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    font-size: 20px;
    color: #333;
    width: fit-content;
}

.btn-primary {
    background-color: #2d5128;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: fit-content;
}

.btn-primary:hover {
    background-color: #556B2F;
}

.hero-image {
    width: 100%;
    height: 700px;
    position: relative;
}

.hero-image img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 5%;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    color: white;
}

.hero-text p {
    font-size: 18px;
    font-weight: 200;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.hero-text h1 {
    font-size: 60px;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    line-height: 1.2;
}

.part {
    display: flex;
    align-items: center;
    gap: 20px;
}

.part p {
    font-size: 14px;
}

.btn-secondary {
    background-color: transparent;
    color: white;
    font-size: 25px;
    cursor: pointer;
    width: fit-content;
}

.rate-card {
    top: 70%;
    left: 10%;
    display: flex;
    position: absolute;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.rate-item {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin: 10px;
    text-align: center;
    color: #2d5128;
    gap: 10px;
    display: flex;
    flex-direction: column;
    width: 250px;
    text-align: center;
}

.rate-item h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
}

.rate-item p {
    font-size: 14px;
}

.choose {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    height: 700px;
    padding: 50px;

}

.choose h2 {
    color: black;
    font-size: 36px;
    font-weight: 700;
    display: flex;
    align-items: flex-start;
    justify-content: center;

}

.choose-desc p {
    color: black;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.5;
}

.plant-img img {
    padding: 10px;
    width: auto;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;

}

.content-left {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 30px;
    position: absolute;
    left: 20%;
    margin-top: 200px;
}

.content-1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 50px;
    width: 400px;
}

.icon {
    font-size: 35px;
    background-color: #eaeee6;
    width: fit-content;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
}

.description {
    color: black;
    font-size: 14px;
    line-height: 1.5;
    width: 400px;
}

.description h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.description p {
    font-size: 15px;
    color: rgb(115, 115, 115);
    font-family: 'Times New Roman', Times, serif;
}

.content-right {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 30px;
    position: absolute;
    left: 62%;
    margin-top: 200px;
}

.type {
    height: 300px;
    width: 100%;
}

.type-image {
    display: flex;
    height: 300px;
    position: absolute;
    width: 100%;
}

.type-image img {
    display: flex;
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.type-card {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.type-item {
    background-color: #37533399;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin: 10px;
    text-align: center;
    color: #2d5128;
    gap: 10px;
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 250px;
    text-align: center;
}

.type-btn {
    width: fit-content;
    padding: 8px;
    border-radius: 30px;
    font-size: 16px;
    background-color: rgba(175, 172, 172, 0.953);
    color: #d8ddd4;
    font-weight: 600;
    border-color: rgba(175, 172, 172, 0.953);
}

.type-info {
    text-align: left;
    width: 300px;
    color: white;
}

.type-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.type-info p {
    font-size: 16px;
    line-height: 1.2;
    font-family: 'Times New Roman', Times, serif;
}

.explore-btn {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    width: fit-content;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid white;
    margin-top: 10px;
}

.type-img {
    display: flex;
    height: 200px;
    width: auto;
    position: absolute;
    left: 60%;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    background-color: #d8ddd4;

}

.type-img img {
    height: 200px;
    width: auto;
    object-fit: cover;
    border-radius: 14px;
}

.Explore {
    height: 650px;
    margin-top: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Explore h1 {
    font-size: 45px;
    color: #274a22;
}

.Explore p {
    color: #2d5128;
    text-align: center;
    margin-top: 10px;
}

.explore-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 50px;
    width: 100%;
    max-width: 1200px;
    /* 🔥 key */
    margin-left: auto;
    margin-right: auto;
}

.box {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    background-color: #dfe2db;
    border-radius: 10px;
    height: 360px;
    display: flex;
    flex-direction: column;
}

.box-img {
    height: 200px;
    width: 100%;
    border-radius: 10px;

}

.box-img img {
    height: 200px;
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.blog-info{
    display: flex;
    flex-direction: column;
    padding: 11px;
}

.blog-info span{
   font-size: 12px;
   color: #818181;
}

.blog-info h3{
    font-size: 17px;
    font-weight: 600;
    margin-top: 5px;
}

.blog-info p{
    color: rgb(62, 62, 60);
    text-align: left;
    font-size: 14px;
    margin-top: 10px;
}

.read-btn{
    background-color: #1e2d1c;
    color: white;
    border: none;
    padding: 4px;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    height: 30px;
    margin-top: 10px;
    width: 100px;
}

.btn{
    margin-top: 40px;
    width: 100px;
    height: 30px;
    padding: 4px;
    border-radius: 8px;
    color: rgb(62, 62, 60);
}

.footer {
    background-color: #556b2f;
    padding: 30px 0;
    text-align: center;
}

.footer-text {
    color: #eff5d2;
    font-size: 14px;
}